<!--The content below is only a placeholder and can be replaced.-->
<!-- Add the timeline -->
<div class="">
    <div class="header">
      <h1 style="font-weight:normal">El Crimanlo</h1>
      <!-- <a href="#contact" class="menuItem">CONTACT</a>
      <a href="#contact" class="menuItem">CONTACT</a>
      <a href="#contact" class="menuItem">CONTACT</a>
      <a href="#contact" class="menuItem">CONTACT</a> -->
    </div>
    <img class="image" src="../assets/reyman4.jpg" alt="Me"  >
</div>
<div class="introSection">
  <div class="intro" style="max-width:800px">
      <p>This page details the recent crimes commited by young JR.
        Please see the timeline below which details his crimes starting with
        his most recent.
      </p>
  </div>
</div>

<vertical-timeline>

  <!-- Add some cards to the timeline. It works with *ngFor too -->

  <!-- If no value is passed for the date, the current time is used. -->
  <vertical-timeline-card>
   <h2 class="titleCard">Wrong Bed</h2>
   <p>Conflicting eye witness reports of a long man slithering into the wrong bed in Key Caulker.</p>
  </vertical-timeline-card>

  <!-- tomorrow = new Date(2017, 9, 20, 14,34); -->
  <vertical-timeline-card [dateValue]="myDate"
  [timeString]="">
    <h1>Tomorrow</h1>
  </vertical-timeline-card>

  <vertical-timeline-card>
   <h1>Today</h1>
  </vertical-timeline-card>

  <!-- tomorrow = new Date(2017, 9, 20, 14,34); -->
  <vertical-timeline-card>
    <h1>Tomorrow</h1>
  </vertical-timeline-card>

</vertical-timeline>

<router-outlet></router-outlet>
